<html>
    <title>Welcome to Nutrify</title>
    <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://semantic-ui.com/dist/semantic.min.js"></script>
    <body>
        <div class="ui two column centered grid">
            <div class="column">
                <div class="ui inverted segment">
                    <button class="ui inverted olive button"><a href="/bknd/auth/signup">Sign Up</a></button>
                    <button class="ui inverted olive button"><a href="/bknd/auth/signin">Sign In</a></button>
                </div>
            </div>
        </div>
        <button> </button>
        <button></button>
    </body>
</html>