<html>
    <body>
        <form method="POST" action='/bknd/todos/new'>
            <input type="text" placeholder="Enter Meal Name" name="mealName" required>
            <br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>