<html>
    <body>
        <form method="POST" action="/bknd/auth/signin" >
            <input type="email" name="email" placeholder="Enter your name">
            <br />
            <input type="password" name="password" placeholder="Enter password">
            <br />
            <button type="submit">Sign In </button>
        </form>
    </body>
</html>